<div class="event">
  <h3>
    <%= @event.title %>
    <% if current_user.id == @event.creator.id %>
      <%= link_to "Edit", edit_event_path(@event.id) %>
    <% end %>
  </h3>
  <p><strong>Date: </strong> <%= @event.date %></p>
  <p><strong>Location: </strong> <%= @event.location %></p>
  <p><strong>Notes: </strong> <%= @event.notes %></p>
  <p>Event created by: <%= @event.creator.email %></p> <br>
</div>

<% if user_signed_in? %>
  <% if @event.attendees.include?(current_user) %>
    <p>You are registered for this event.</p>
    <%= form_with model: @attendable_events do |form| %>
      <%= form.check_box :unattend %>
      <%= form.label :unattend, "I'm not going to attend" %> <br>
      <%= form.submit "Unregister me" %>
    <% end %>
  <% else %>
    <%= form_with model: @attendable_events do |form| %>
      <%= form.check_box :attend %>
      <%= form.label :attend, "I'd like to attend" %> <br>
      <%= form.submit "Count me in!" %>
    <% end %>
  <% end %>
<% else %>
  <em>Log in or sign up to register for this event.</em>
<% end %>


<h4><%= @event.attendees.count %> people are going</h4>

<% @event.attendees.each do |attendee| %>
  <ul>
    <li>
      <%= attendee.email %>
    </li>
  </ul>
<% end %>


